<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578583198489-4mpldnqbk0mjbq9fvkc3petogifq414d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578583198489-4mpldnqbk0mjbq9fvkc3petogifq414d</string>
	<key>API_KEY</key>
	<string>AIzaSyCFZwJGPSexxv1vaZRWNlfR8k1MgEoxW-A</string>
	<key>GCM_SENDER_ID</key>
	<string>578583198489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mek.gasol.mekGasol</string>
	<key>PROJECT_ID</key>
	<string>mek-gasol</string>
	<key>STORAGE_BUCKET</key>
	<string>mek-gasol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578583198489:ios:65cc60f332b2495e112388</string>
</dict>
</plist>